<!-- <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
  <div class="card-category">Popular</div>
  <div class="card-description">
    <h2>Le Wagon Shanghai</h2>
    <p>Very cool city, the best</p>
  </div>
  <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
    <a class="card-link" href="#" ></a>
</div>


 -->
<div class="cards-container">
  <div class="row">
    <% data.cities.each do |city| %>
  <div class="col-xs-6 col-md-4">
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
      <div class="card-category">LeWagon</div>
      <div class="card-description">
        <h2><%= city.city %></h2>
        <p><%=city.country %></p>
      </div>
      <img class = "card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay" alt="">
      <a class="card-link" href="#"></a>
    </div>
  </div>
    <% end %>
</div>
</div>
