// Import your components CSS files here.
@import "alert";
@import "banner";
@import "cards";
@import "footer";
@import "image";
@import "navbar";

body {
  display: flex;
  flex-direction: column;
}

.home-flex {
  flex: 1 0 auto;
}
