---
title: Le Wagon - Middleman - Team
---

<div class="container">
<% data.users.each do |user| %>
<!--   <div class="row"> -->
    <div class="col-xs-4 col-md-3">
      <div class="card-team text-center">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{user.github_nickname}", class: "img-circle" %>
        <h6><%= user.name.titleize %></h6>
      </div>
    </div>
<% end %>
<!--   </div> -->
</div>

